:host{
  height: 100%;
}

.login-container {
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #E3CEF2;
  padding: 1rem;
  width: 33%;
  border-radius: 1rem;
  color: #510A82;


  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    button {
      width: 70%;
      border-radius: 1rem;
      height: 3rem;
      border: 1px solid #A435F0;
    }

  }
}

.login-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;

  &__legend {
   font-size: 1.5rem;
   font-weight: 700;
  }

  input {
    height: 2rem;
    border: 0;
    background-color: #E3CEF2;
    border-bottom: 1px solid #A435F0;

    &:focus {
      border: 0;
    }
  }

  &__error {
    color: #B1A3D9;
    font-size: .8rem;
    padding: .8rem;
  }
}
