.encora-list{
  display: flex;
  width: 70%;
  border-radius: 1rem;
  justify-content: center;

  &__title {
    font-size: 2rem;
  }

  &__items {

  }
}

.encora-item-container {
  &__values {

  }

  &__post {

  }
}
